{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simple Expense Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'expenses/style.css' %}">
</head>
<body>
    <header>
        <h1>Simple Expense Tracker</h1>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
        {% else %}
            <p>Welcome, Guest!</p>
        {% endif %}
    </header>
<section>
    <nav>
        <ul>
            <li><a href="{% url 'expense_list' %}">Home</a></li>
            <li><a href="{% url 'expense_form' %}">Add Expense</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
</section>
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Simple Expense Tracker</p>
    </footer>
    <script src="{% static 'expenses/script.js' %}"></script>
</body>
</html>

